<div class="container">
  <div class="conversation-row">
    <ng-container class="conversation-column" *ngFor="let conversation of conversationList$ | async">
      <app-conversation-detail [conversation]="conversation"></app-conversation-detail>
    </ng-container>
  </div>
</div>