:host{
    .container{
        font-family: ui-sans-serif;
        width: 100%;
        height: 120px;
        margin-bottom: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 5px;
        text-align: center;
        background-color: #f1f1f1;
        cursor: pointer;
        .header{
            text-align: center;
            color: #0b62bb;
        }
        .title{
            font-size: 16px;
            font-weight: 600;
            display:block;
        }
        .content{
            display: block;
            max-width: 100px;
            height: 58px; 
            font-size: 14px;
            line-height:1em;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}