<div class="container" (click)="switchId()"> 
  <div class="header" name="post-header">
    <span *ngIf="isIdVisible">
      Post Id: {{ conversation.id}}
    </span>
    <span *ngIf="!isIdVisible">
      User Id: {{ conversation.userId}}
    </span>
  </div>
  <div>
    <span class="title text-truncate">{{conversation.title}}</span>
    <span class="content">{{conversation.body}}</span>
  </div>
</div>


